.wider-error {
  width: 300px;
}

.error-position {
  position: absolute;
  top: 100%;
  left: 0;
}

mat-toolbar {
  display: flex;
  justify-content: center;
}

.register {
  background-color: #D6EAF8;
}
