
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex = "25"  class="admin" >
    <button mat-raised-button (click)="users()" style="margin-top: 20px;">Users</button>
    <button mat-raised-button (click)="devices()" style="margin-top: 20px;">Devices</button>
    <button mat-raised-button (click)="mappings()" style="margin-top: 20px;">Mappings</button>
    <button mat-raised-button (click)="chat()" style="margin-top: 20px;">Chat</button>
  </mat-card>
</div>
<button mat-raised-button (click)="logout()" class="logout-button">Logout</button>
